<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Breakout GAME</title>
    <style>
        body {
            background-color: #f0f8ff;
            font-family: sans-serif;
            text-align: center;
            padding-top: 80px;
        }
        img {
            width: 200px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1 th:text="${message}">Hello Placeholder</h1>
    <img src="https://media.giphy.com/media/xT0GqeSlGSRQut4YKs/giphy.gif" alt="Happy GIF">
</body>
</html>
